In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import plotly as ply

In [2]:
county_house = pd.read_csv("County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
county_house.head(3)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31
0,3101,0,Los Angeles County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,37,217262.0,...,768098.0,788101.0,800150.0,808817.0,811357.0,815924.0,821299.0,826486.0,834932.0,849633.0
1,139,1,Cook County,County,IL,IL,Chicago-Naperville-Elgin,17,31,177992.0,...,282996.0,286586.0,290384.0,293009.0,295534.0,298474.0,301243.0,303854.0,305637.0,308249.0
2,1090,2,Harris County,County,TX,TX,Houston-The Woodlands-Sugar Land,48,201,114993.0,...,232801.0,238159.0,243931.0,248343.0,252130.0,254718.0,257783.0,260976.0,264603.0,269303.0

In [9]:
Sandy_house = county_house.loc[county_house["RegionName"] == "San Diego County"]
Sandy_house

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31
4,2841,4,San Diego County,County,CA,CA,San Diego-Carlsbad,6,73,229073.0,...,765864.0,789895.0,804648.0,814441.0,819215.0,826807.0,838226.0,858817.0,879278.0,902655.0

In [11]:
Sandy_Index = pd.read_excel('San_Diego_Home_Value_Index.xlsx', index_col=0)
Sandy_Index.head()

            Home Value Index
Date
2000-01-31            229073
2000-02-29            230320
2000-03-31            231670
2000-04-30            234682
2000-05-31            237569